*{
    margin: 0px;
    padding: 0px; 
background-color: rgb(218, 224, 228);
} 
#navbar{
    display: flex; 
    /* border:2px solid black; */
}  
 #navbar>img{
    position: relative; 
    left: 5%;
 }

#navbar>ul{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    left: 40%;
    gap: 70px; 
    /* border:2px solid black; */
} 
#navbar>ul>li{
list-style: none;
} 
#navbar>ul>li>a{
    text-decoration: none; 
    color: black; 
    /* padding: 25px ; */ 
    font-size: 22px; 
    font-family: 'Bricolage Grotesque', sans-serif;
}  
#navbar>ul>li>a:hover{
    color: green; 
    /* cursor: none; */
}
 
#frm{
    display: flex; 
    flex-direction: column; 
    border:2px solid grey;  
    align-items:center; 
    justify-content: center; 
    text-align: left;
     height: 430px; 
     width: 340px;   
     position: relative; 
     top: 100px;  
     left: 500px; 
     gap: 10px;
     border-radius: 10px; 
     background-color: rgb(218, 224, 228);
     box-shadow: 20px 20px 50px 15px grey;
} 
#frm>h1{
    font-size: 40px; 
    font-family:inherit ;
    position: relative; 
    left: 16px;
} 
#frm>h2{
    font-size: 25px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     position: relative; 
     right: 90px;
} 
#frm>input{
    width: 270px; 
    display: inline; 
    height: 29px; 
    border-radius: 12px; 
    background-color: aliceblue; 
    border-color: aliceblue;
} 
#frm>textarea{
    width: 270px; 
    display: inline; 
    height: 140px; 
    border-radius: 12px; 
    background-color: aliceblue; 
    border-color: aliceblue;
} 
#frm>button{
    width: 270px;  
    height: 70px; 
    border-radius: 10px; 
    background-color: aliceblue; 
    border-color: aliceblue; 
    background-color: rgb(9, 125, 84); 
    color: aliceblue;
}
 